*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
    }
    body{
        height: 1000px;
    }
    #parent{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #5f27cd;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #parent .child{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 100px;
        font-size: 30px;
        font-weight: bold;
    }